
/* NAVBAR */
.cadastro {
    font-size: auto;
    background-color: rgb(110, 155, 214);
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}
.cadastro img {
    height: 35px;

}
.cadastro h1 {
    color: white;
    font-weight: 300;
    margin-left: 20px;
}
.cadastro div {
    display: flex;
}
/* Confikguração de stilo do formulario*/
form{

    display: flex block;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 5px;
}
form input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;    
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
form .btn{
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

    -webkit-appearance: button;
 
    text-rendering: auto;
  
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

