body{
   
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(18, 134, 76);
   }
   #add-cestinha {
    max-width: 45px; 
    max-height: 45px;
    position: relative;
    right: -400px;
    bottom: 5px;

   }
   section {
    background-color: #fff;
   }
   div .img-produto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 100px;
    width: auto;
    height: auto;
    margin: 10px;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0px 2px 10px rgba(0,0,0,.3);
    cursor: pointer;
    transition: .3s;
   }
   @media (max-width: 540px) {
    .img-produto {
        padding: 50px;
    }
}

 