@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
body {
    margin: 0;
    padding: 0;
    width: auto;
    font-family: 'Lato', sans-serif;
    background: rgba(252, 250, 250, 0.993);
}

.navmenu {
    display: flex;
    justify-content: start;
    align-items: center;
    background: rgb(18, 134, 76);  
    color: #fff;
    padding: 25px;
}

.navmenu h1 {
    color: white;
    margin-left:  50pt;
    font-family: 'Satisfy', cursive;
}

.nav-menu {
    align-items: initial;
    justify-items: left;
}

/*menu*/

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

/*DESTAQUE*/

.destaque-semana h2 {
    color: rgb(18, 134, 76);
    font-family: 'Satisfy', cursive;
    font-size: 25pt;
    text-align: center;
    text-justify: auto;
    text-shadow: 2px black;
}


/* PRODUTOS */

#mochilas {
    width: calc(100% - 40px);
    margin: 0px auto;
    overflow: hidden;
    background-color: rgb(255, 253, 253);
    margin-top: 40px;
    margin-bottom: 20px;
}

#mochilas div .img-produto {
    width: auto;
    height: auto;
    padding: 5px;
    margin: 5px;
}

.img-produto img {
    width: 100%;
    height: 100%;
    box-shadow: #0f0f0f25 3px;
    border-radius: 15px;
    object-fit: cover;
}

@media screen and (max-height: 450px) {
    #mochilas {
        border: solid black 2px;
        width: calc(100% - 40px);
        margin: 0px auto;
        border-radius: 10px;
        overflow: hidden;
        background-color: white;
        margin-top: 40px;
    }
    #mochilas div .img-produto {
        width: 500px;
        height: 500px;
    }
    .img-produto img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#mochilas .mochilas-descricao {
    padding: 10px 20px;
    background-color: rgb(18, 134, 76);
    border: solid 1px rgb(18, 134, 76);
    color: white;
}

#mochilas .mochilas-descricao h2 {
    font-weight: bold;
    margin-bottom: 10px;
}

#mochilas .mochilas-descricao p {
    font-size: 11pt;
    color: black;
    padding: 3px 0px;
}

#mochilas .mochilas-descricao p:last-child {
    color: blue;
    padding: 8px 0px;
}

#mochilas .detalhe-produto .produto-preco {
    font-size: 25pt;
    color: blue;
}

#add-cestinha {
    border: solid black 5px;
    align-self: auto;
}

#add-cestinha div {
    margin: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
}

#add-cestinha .form {
    border-block-color: #352d2d 5px;
    margin: auto;
    width: 50%;
    padding: 10px;
    display: inline-flex;
}

#add-cestinha img {
    align-items: center;
    width: 30px;
    height: 30px;
    object-fit: contain;
}


/* DETALHE PRODUTO */

.detalhe-produto img {
    width: 100%;
}

.detalhe-produto h1 {
    font-size: 25pt;
}

.detalhe-produto .descricao {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.detalhe-produto .dados {
    padding: 20px;
}

.detalhe-produto .produto-descricao {
    font-size: 18pt;
}

.detalhe-produto .produto-preco {
    font-size: 18pt;
    color: green;
}


/*FOOTER*/

#carregaStorage {
    font-size: 40pt;
    align-items: center;
    color: green;
    margin-top: 50px;
}

#carregaStorage button {
    margin: 30px;
    padding: 15px;
    background: green;
    color: white;
    border-color: green;
    text-transform: uppercase;
}

footer {
    bottom: -10;
    justify-content: start;
    text-align: center;
    background: rgb(18, 134, 76);
    font-size: 10pt;
    font-family: "Kaushan Script", "Lato", "arial";
    color: #fff;
}